
<% if @profile.errors.any? %>
    <ul>
        <% @profile.errors.each do | error | %>
            <li> <%= error.full_message %> </li>
        <% end %>
    </ul>
<% end %>
<%= form_for @profile do | f | %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
    
    <%= f.submit %>
<% end %>