<h1>Login Page</h1>

<%= form_with url: sessions_path do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email %>
    
    <%= form.label :password %>
    <%= form.password_field :password %>
    
    <%= form.submit "Login" %>

<% end %>