<h1> List of Articles </h1>

<% @article.each do |article| %>
    <h4> Title: <%= link_to "#{article.title}" , article %> </h4>

    <% end %>

<div>
    <%= link_to "Previous Page", articles_path(page: @page - 1) %>
    |
    <%= link_to "Next Page", articles_path(page: @page + 1) %>
</div>

<div>
    <%= link_to "First Page", articles_path(page: 0) %>
    |
    <%= link_to "Last Page", articles_path(page: @last_page)%>
</div>
